{% set dataset = (env["deployment"] + "-dataset")|replace("-","_") %}
{% set table = (env["deployment"] + "-table")|replace("-","_") %}

resources:
- name: {{ dataset }}
  type: gcp-types/bigquery-v2:datasets
  properties:
    datasetReference:
      datasetId: {{ dataset }}
- name: {{ table }}
  type: gcp-types/bigquery-v2:tables
  properties:
    datasetId: $(ref.{{ dataset }}.datasetReference.datasetId)
    tableReference:
      tableId: {{ table }}
    schema:
      fields:
        - name: timestamp
          type: TIMESTAMP
        - name: lat
          type: FLOAT
        - name: long
          type: FLOAT
