{% set DATASET = (env["deployment"] + "-dataset")|replace("-","_") %}
{% set TABLE = (env["deployment"] + "-table")|replace("-","_") %}

resources:
- name: {{ DATASET }}
  type: gcp-types/bigquery-v2:datasets
  properties:
    datasetReference:
      datasetId: {{ DATASET }}
- name: {{ TABLE }}
  type: gcp-types/bigquery-v2:tables
  properties:
    datasetId: $(ref.{{ DATASET }}.datasetReference.datasetId)
    tableReference:
      tableId: {{ TABLE }}
    schema:
      fields:
        - name: timestamp
          type: TIMESTAMP
        - name: lat
          type: FLOAT
        - name: long
          type: FLOAT
