{% set service_account = (env["deployment"] + "-service-account") %}
{% set service_account_key = (env["deployment"] + "-service-account-key") %}
{% set name = ("projects/" + env["project"] + "/serviceAccounts/" + env["deployment"] + "-service-account" + "/keys/json") %}

resources:
- name: {{ service_account }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ service_account }}
    displayName: serviceAccount-{{ env['name'] }}

- name: {{ service_account_key }}
  type: iam.v1.serviceAccounts.key
  properties:
    name: {{ name }}
    parent: $(ref.{{ service_account }}.name)
    privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE
    keyAlgorithm: KEY_ALG_RSA_2048

outputs:
- name: privateKeyData
  value: $(ref.{{ service_account_key }}.privateKeyData)
