{% set topic = env['deployment'] + '-' + env['name'] + '-topic' %}
{% set subscription = env['deployment'] + '-' + env['name'] + '-subscription' %}

resources:
- name: my-topic
  #type: pubsub.v1.topic
  type: gcp-types/pubsub-v1:projects.topics
  properties:
    topic: {{ topic }}
- name: my-subscription
  #type: pubsub.v1.subscription
  type: gcp-types/pubsub-v1:projects.subscriptions
  properties:
    subscription: {{ subscription }}
    topic: $(ref.my-topic.name)