{% set topic = env['deployment'] + '-' + env['name'] + '-topic' %}
{% set subscription = env['deployment'] + '-' + env['name'] + '-subscription' %}
{% set service_account = env['deployment'] + '-service-account' + '@' + env['project'] + '.iam.gserviceaccount.com' %}

resources:
- name: {{ topic }}
  type: pubsub.v1.topic
  properties:
    topic: {{ topic }}
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/pubsub.publisher
        members:
        - "serviceAccount:{{ service_account }}"
