{% set NAME_PREFIX = env['deployment'] %}
{% set CLUSTER_TYPE = env['project'] + '/' + properties['cluster-type'] %}
{% set SECRET_COLLECTION = '/api/v1/namespaces/{namespace}/secrets' %}

resources:
- name: secret-deploy
  type: {{ CLUSTER_TYPE }}:{{ SECRET_COLLECTION }}
  metadata:
    dependsOn:
    - {{ properties['cluster-type-apps'] }}
  properties:
    apiVersion: v1
    kind: Secret
    namespace: {{ properties['namespace'] | default('default') }}
    metadata:
      name: pubsub-key
      deployment: {{ env['deployment'] }}
    type: Opaque
    data:
      key.json: {{ properties['key'] }}