{% set cluster_type = env['project'] + '/' + properties['cluster-type'] %}
{% set secret_collection = '/api/v1/namespaces/{namespace}/secrets' %}

resources:
- name: secret-deploy
  type: {{ cluster_type }}:{{ secret_collection }}
  metadata:
    dependsOn:
    - {{ properties['cluster-type-apps'] }}
  properties:
    apiVersion: v1
    kind: Secret
    namespace: {{ properties['namespace'] | default('default') }}
    metadata:
      name: pubsub-key
      deployment: {{ env['deployment'] }}
    type: Opaque
    data:
      key.json: {{ properties['key'] }}
